.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 2%;
  width: 28%;
  border-radius: 15px;
  filter: drop-shadow(0 0 8px white);
  background-color: #160243;
  color: white;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10%;
}

.main-page {
  background-color: #020617;
}

.game-image {
  width: 90%;
  aspect-ratio: 16 / 9;
}

.game-name {
  height: 15%;
}

.details-bold {
  font-weight: bold;
}

.game-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.details-text {
  margin: 2% 0;
}

.game-button {
  background-color: #22d3ee;
  font-family: "Science Gothic", sans-serif;
  font-size: larger;
  border-radius: 100px;
  width: 50%;
  padding: 1% 0;
  margin: 5%;
}

.game-button:hover {
  cursor: pointer;
  background-color: #0e6b79;
  color: white;
}

#filter-container {
  margin: 0 25%;
  display: flex;
  justify-content: center;
  padding: 2% 0 1% 0;
}

.filters {
  margin: 0 8%;
}

.filter-input {
  background-color: #050816;
  color: #eaeaff;
  border: 1px solid #22d3ee;
  border-radius: 30px;
  padding: 5%;
  font-size: larger;
  font-family: "Science Gothic", sans-serif;
  text-align: center;
}
