#main-review-div {
  width: 100%;
  transition: width 0.3s ease;
  background-color: #020617;
  color: white;
}

#parent-review-div {
  margin: 2% 6%;
  display: flex;
  flex-direction: column;
}

#reviews-header {
  padding: 2% 0 2% 3%;
  font-size: xx-large;
}

@media (max-width: 768px) {
  #parent-review-div {
    margin: 2% 3%;
  }
}
